<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Layout1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Qwade Flynn : 2/25/18 : Web Dev Portfolio Mid Term -->
      
      <link rel="stylesheet" href="../css/style.css">
  
</head>

<body>

<div id="headerLinks">
    <p> Home: link to any of the three like so: </p>
    <p> Layout Page 01: <a href="../index.html">Link Home</a> or to <a href="layout-2.html">Page 02</a></p>
</div>

<div id="header1">
    <h1> Layout 1 </h1>
</div>

  <article>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis.</p>
  </article>
  
  <div id="row01">
    <div class="first-row"> </div>
    <div class="first-row"> </div>
    <div class="first-row"> </div>
  </div>

  </br></br></br>
  <ul>
    <li>Etiam tempor quis nisi eu.</li>
    <li>Integer eu placerat sem. Curabitur.</li>
    <li>Vestibulum faucibus nisl erat, at.</li>
  </ul>
  
  <h2> Praesent nec nulla urna. Maecenas. </h2>
  <p> 
      Nullam semper elementum urna sed faucibus. Donec et lacus efficitur magna faucibus pellentesque et sed justo. 
      Nulla facilisi. Etiam in venenatis nulla. Pellentesque a augue.
   </p>

<div id="footer1">
  <p>Footer 1</p>
</div>

</body>
</html>