<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Layout3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Qwade Flynn : 2/25/18 : Web Dev Portfolio Mid Term -->
      
      <link rel="stylesheet" href="../css/style.css">
  
</head>

<body>

  <div id="headerLinks">
    <p> Home: link to any of the three like so: </p>
    <p> Layout Page 03: <a href="../index.html" >Link Home</a> or to <a href="layout-1.html" >Page 01</a></p>
  </div>
 
  <div id="header3">
    <h1> Layout 3 </h1>
  </div>
  
  <div id="topHead3">
    <h2> Lorem </h2> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis.</p>
  </div>

   <div id="row03">
    <div class="third-row"> </div>
    <div class="third-row"> </div>
    <div class="third-row"> </div>
  </div>  
  
   <ol>
    <li>Etiam tempor quis nisi eu.</li>
    <li>Integer eu placerat sem. Curabitur.</li>
    <li>Vestibulum faucibus nisl erat, at.</li>
  </ol>

    <div id="para2"> 
        <h2> Praesent nec nulla urna. Maecenas. </h2>
        <p> 
            Nullam semper elementum urna sed faucibus. Donec et lacus efficitur magna faucibus pellentesque et sed justo. 
            Nulla facilisi. Etiam in venenatis nulla. Pellentesque a augue.
        </p>
    </div>
  <div id="footer3">
    <p>Footer 3</p>
  </div>

</body>
</html>