<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Layout2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Qwade Flynn : 2/25/18 : Web Dev Portfolio Mid Term -->
      
      <link rel="stylesheet" href="../css/style.css">
  
</head>

<body>

<div id="headerLinks">
    <p> Home: link to any of the three like so: </p>
    <p> Layout Page 02: <a href="../index.html">Link Home</a> or to <a href="layout-3.html">Page 03</a></p>
</div>


<h1> </br> </br> Layout 2 </h1>

    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis.</p>
    
    <div id="row02">
        <div class="sec-row"> </div>
        <div class="sec-row"> </div>
        <div class="sec-row"> </div>
    </div>
    
    <div id="list">
        <ul>
          <li>Etiam tempor quis nisi eu.</li>
          <li>Integer eu placerat sem. Curabitur.</li>
          <li>Vestibulum faucibus nisl erat, at.</li>
        </ul>
    </div>
    
    <div id="para"> 
        <h2> Praesent nec nulla urna. Maecenas. </h2>
        <p> 
            Nullam semper elementum urna sed faucibus. Donec et lacus efficitur magna faucibus pellentesque et sed justo. 
            Nulla facilisi. Etiam in venenatis nulla. Pellentesque a augue.
        </p>
    </div>


<div id="footer2">
  <p>Footer 2</p>
</div>

</body>
</html>